.running-string {
    width: 100%;
    overflow: hidden;
}
.running-string__wrapper {
    width: calc(100 * 2 *(100vw));
    color: #7CABF3;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    background: #E3EEFF;
    display: flex;
    gap: 20px;
    padding: 16px 0;
    border-top: 7px solid #C5DBFD;
    border-bottom: 7px solid #C5DBFD;
    margin-bottom: 40px;

    p {
        animation: text 7s infinite linear;
    }

    @keyframes text {
        0%{
          transform: translate(-190%, 0);
        }
        
        100%{
          transform: translate(10%, 0);
        }
      }
}

