<div class="items-wrap">
  <div class="items marquee">
    <div class="item" style="background-image: url('images/review1.png');"></div>
    <div class="item" style="background-image: url('images/review2.png');"></div>
    <div class="item" style="background-image: url('images/review3.png');"></div>
    <div class="item" style="background-image: url('images/review4.png');"></div>
    <div class="item" style="background-image: url('images/review5.png');"></div>
    <div class="item" style="background-image: url('images/review6.png');"></div>
    <div class="item" style="background-image: url('images/review7.png');"></div>
    <div class="item" style="background-image: url('images/review8.png');"></div>
    <div class="item" style="background-image: url('images/review9.png');"></div>
    <div class="item" style="background-image: url('images/review10.png');"></div>
    <div class="item" style="background-image: url('images/review11.png');"></div>
  </div>

  <div aria-hidden="true" class="items marquee">
    <div class="item" style="background-image: url('images/review11.png');"></div>
    <div class="item" style="background-image: url('images/review10.png');"></div>
    <div class="item" style="background-image: url('images/review9.png');"></div>
    <div class="item" style="background-image: url('images/review8.png');"></div>
    <div class="item" style="background-image: url('images/review7.png');"></div>
    <div class="item" style="background-image: url('images/review6.png');"></div>
    <div class="item" style="background-image: url('images/review5.png');"></div>
    <div class="item" style="background-image: url('images/review4.png');"></div>
    <div class="item" style="background-image: url('images/review3.png');"></div>
    <div class="item" style="background-image: url('images/review2.png');"></div>
    <div class="item" style="background-image: url('images/review1.png');"></div>
  </div>
</div>

<div class="items-wrap">
  <div class="items marquee reverce">
    <div class="item" style="background-image: url('images/review1.png');"></div>
    <div class="item" style="background-image: url('images/review2.png');"></div>
    <div class="item" style="background-image: url('images/review3.png');"></div>
    <div class="item" style="background-image: url('images/review4.png');"></div>
    <div class="item" style="background-image: url('images/review5.png');"></div>
    <div class="item" style="background-image: url('images/review6.png');"></div>
    <div class="item" style="background-image: url('images/review7.png');"></div>
    <div class="item" style="background-image: url('images/review8.png');"></div>
    <div class="item" style="background-image: url('images/review9.png');"></div>
    <div class="item" style="background-image: url('images/review10.png');"></div>
    <div class="item" style="background-image: url('images/review11.png');"></div>
  </div>

  <div aria-hidden="true" class="items marquee reverce">
    <div class="item" style="background-image: url('images/review1.png');"></div>
    <div class="item" style="background-image: url('images/review2.png');"></div>
    <div class="item" style="background-image: url('images/review3.png');"></div>
    <div class="item" style="background-image: url('images/review4.png');"></div>
    <div class="item" style="background-image: url('images/review5.png');"></div>
    <div class="item" style="background-image: url('images/review6.png');"></div>
    <div class="item" style="background-image: url('images/review7.png');"></div>
    <div class="item" style="background-image: url('images/review8.png');"></div>
    <div class="item" style="background-image: url('images/review9.png');"></div>
    <div class="item" style="background-image: url('images/review10.png');"></div>
    <div class="item" style="background-image: url('images/review11.png');"></div>
  </div>
</div>