<footer class="footer" id="footer">
    <div class="container">
        <nav class="footer__nav">
            <div class="footer__logo-wrapper">
                <a href="#!"><img src="images/puur.svg" alt="puur" class="footer__logo"></a>
                <iframe class="map" src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=159035061354" width="560" height="400" frameborder="0"></iframe>
            </div>
            
            <ul class="footer__menu-list">
                <li class="footer__menu-item">ПУНКТЫ ПРИЕМА
                    <ul class="footer__sublist">
                        <li class="footer__subitem">Рязань,<br> улица Чапаева, 59</li>
                        <li class="footer__subitem">График работы:</li>
                        <li class="footer__subitem footer__opasity">пн-пт: 10-20</li>
                        <li class="footer__subitem footer__opasity">сб-вс: 11-18</li>
                    </ul>
                </li>

                <li class="footer__menu-item">УСЛУГИ
                    <ul class="footer__sublist">
                        <li class="footer__subitem "><a class="js-scroll" href="#clothes">Одежда</a></li>
                        <li class="footer__subitem "><a class="js-scroll" href="#shoes">Обувь</a></li>
                        <li class="footer__subitem "><a class="js-scroll" href="#purses">Сумки</a></li>
                        <li class="footer__subitem "><a class="js-scroll" href="#for-home">Для дома</a></li>
                        <li class="footer__subitem "><a class="js-scroll" href="#for-children">Для самых <br> маленьких</a></li>

                    </ul>
                </li>

                <li class="footer__menu-item">КОНТАКТЫ
                    <ul class="footer__sublist">
                        <li class="footer__subitem"><a target="_blank" href="tel:+79935594481">+79935594481</a></li>
                        <li class="footer__subitem"><a target="_blank" href="https://vk.com/puurru">ВКонтакте</a></li>
                        <li class="footer__subitem"><a target="_blank" href="https://instagram.com/puur.service?igshid=MzRlODBiNWFlZA==">Instagram </a></li>
                        <li class="footer__subitem"><a target="_blank" href="mailto:puurservice@yandex.ru"> @puur.service</a></li>
                        <li class="footer__subitem"><a target="_blank" href="https://wa.me/message/PWTGU5RCRKPDA1">Whatsapp</a></li>
                    </ul>
                </li>

                <li class="footer__menu-item">МОЙ ЗАКАЗ
                    <ul class="footer__sublist">
                        <li class="footer__subitem"><a href="https://app.helloclient.io/check.html#259896" target="_blank">Узнать статус заказа</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!--=include up-button.html -->
    <!--=include form.html -->

</footer>
<script type="text/javascript" src="https://w974283.yclients.com/widgetJS" charset="UTF-8"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>