<section class="main">
    <div class="container">
        <h1 style="visibility: hidden;">PUUR | Химчистка для гардероба и дома</h1>
        <div class="swiper mainSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="main__screen1">
                        <div class="main__sale">
                            <p>-10% НА ПЕРВЫЙ ЗАКАЗ</p>
                            <img src="/images/arrow-down.svg" alt="стрелочка" class="main__sale-arrow">
                        </div>
                        
                        <div class="main__before-after">
                            <img src="images/before_after.gif" alt="до и после"
                                class="main__before-after-img main__gif">
                        </div>
                        
                        <div class="main__hero " style="background-image: url('../images/main-pic.avif')">
                            <p>ВОССТАНОВЛЕНИЕ <br> ЦВЕТА & РЕМОНТ</p>
                            <div class=" main__title">
                                <p>УХОД - <span>ВОССТАНОВЛЕНИЕ</span> </p>
                                <p>ДЛЯ ЛЮБИМОЙ </p>
                                <p>ОБУВИ И СУМОК</p>
                            </div>
                            <p class="main__hero-bottom-text">ПОЛНАЯ ПОКРАСКАЯ <br> РЕСТАВРАЦИЯ ЦАРАПИН</p>
                            <div class="btn">
                                <svg width="49" class="arrow" height="21" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.23.51a1.25 1.25 0 00-2 1.5 23.012 23.012 0 009.076 7.225H1.25a1.25 1.25 0 100 2.5h36.953a24.724 24.724 0 00-8.963 7.243 1.25 1.25 0 001.981 1.524 22.223 22.223 0 0112.6-8.097l3.134-.725c1.497-.346 1.445-2.496-.067-2.77l-2.91-.528A20.512 20.512 0 0131.23.51z"
                                        fill="#0050B9" />
                                </svg>

                                <a href="https://b974283.yclients.com/" target="_blank" class="button">ЗАПИСАТЬСЯ</a>

                                <svg class="right arrow" width="49" height="21" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M31.23.51a1.25 1.25 0 00-2 1.5 23.012 23.012 0 009.076 7.225H1.25a1.25 1.25 0 100 2.5h36.953a24.724 24.724 0 00-8.963 7.243 1.25 1.25 0 001.981 1.524 22.223 22.223 0 0112.6-8.097l3.134-.725c1.497-.346 1.445-2.496-.067-2.77l-2.91-.528A20.512 20.512 0 0131.23.51z"
                                        fill="#0050B9" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="main__screen1">
                        <div class="main__sale _green">
                            <p>промокод HOME -15% на всю категорию</p>
                            <img src="/images/arrow-down.svg" alt="стрелочка" class="main__sale-arrow">
                        </div>
                        <div class="main__before-after">
                            <img src="images/screen2.avif" alt="2 подушки + одеяло 2590₽"
                                class="main__before-after-img">
                        </div>
                        <div class="main__hero _second">
                            <div class="hero__description">
                                <div class="hero__desc_one">
                                    <p class="desc__title">ХИМЧИСТКА <br> ДЛЯ ДОМА </p>
                                    <p>ДЛЯ АЛЛЕРГИКОВ</p>
                                </div>
                                
                                <div class="hero__desc_two">
                                    <p>ДЛЯ ЗДОРОВЬЯ</p>
                                    <p class="desc__title">ЗДОРОВАЯ <br> КОЖА & СОН</p>
                                </div>
                                
                                <div class="btn">
                                    <svg width="49" class="arrow" height="21" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M31.23.51a1.25 1.25 0 00-2 1.5 23.012 23.012 0 009.076 7.225H1.25a1.25 1.25 0 100 2.5h36.953a24.724 24.724 0 00-8.963 7.243 1.25 1.25 0 001.981 1.524 22.223 22.223 0 0112.6-8.097l3.134-.725c1.497-.346 1.445-2.496-.067-2.77l-2.91-.528A20.512 20.512 0 0131.23.51z"
                                            fill="#0050B9" />
                                    </svg>

                                    <a href="https://wa.me/message/PWTGU5RCRKPDA1" target="_blank" class="button">КОНСУЛЬТАЦИЯ</a>

                                    <svg class="right arrow" width="49" height="21" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M31.23.51a1.25 1.25 0 00-2 1.5 23.012 23.012 0 009.076 7.225H1.25a1.25 1.25 0 100 2.5h36.953a24.724 24.724 0 00-8.963 7.243 1.25 1.25 0 001.981 1.524 22.223 22.223 0 0112.6-8.097l3.134-.725c1.497-.346 1.445-2.496-.067-2.77l-2.91-.528A20.512 20.512 0 0131.23.51z"
                                            fill="#0050B9" />
                                    </svg>
                                </div>
                            </div>
                            
                            <div class="hero__image" style="background-image: url('images/glow_club.avif')"></div>

                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="main__screen1">
                        <div class="main__sale _blue">
                            <p>КОМБО <br> WINTER</p>
                            <p>2 КУРТКИ <br> + ПАЛЬТО</p>
                        </div>

                        <div class="main__before-after">
                            <img src="images/winter1.avif" alt="зимняя одежда" class="main__before-after-img">
                        </div>

                        <div class="main__hero _thirdth">                           
                            <img src="images/winter2.avif" alt="зимняя одежда">
                            <img src="images/winter3.avif" alt="зимняя одежда">
                            <div class="btn">
                                <svg width="49" class="arrow" height="21" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M31.23.51a1.25 1.25 0 00-2 1.5 23.012 23.012 0 009.076 7.225H1.25a1.25 1.25 0 100 2.5h36.953a24.724 24.724 0 00-8.963 7.243 1.25 1.25 0 001.981 1.524 22.223 22.223 0 0112.6-8.097l3.134-.725c1.497-.346 1.445-2.496-.067-2.77l-2.91-.528A20.512 20.512 0 0131.23.51z"
                                        fill="#0050B9" />
                                </svg>

                                <a href="https://wa.me/message/PWTGU5RCRKPDA1" target="_blank" class="button">КОНСУЛЬТАЦИЯ</a>

                                <svg class="right arrow" width="49" height="21" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M31.23.51a1.25 1.25 0 00-2 1.5 23.012 23.012 0 009.076 7.225H1.25a1.25 1.25 0 100 2.5h36.953a24.724 24.724 0 00-8.963 7.243 1.25 1.25 0 001.981 1.524 22.223 22.223 0 0112.6-8.097l3.134-.725c1.497-.346 1.445-2.496-.067-2.77l-2.91-.528A20.512 20.512 0 0131.23.51z"
                                        fill="#0050B9" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>