<section class="services" id="services">
    <div class="container">
        <div class="service" id="purses" style="background-image: url('images/servise1.webp');">
            <div class="service__overlay">
                <h3 class="service__title">Сумки и аксессуары, <br> ручная чистка</h3>
                <button class="servise__button purses__service" >31 услуга</button>
            </div>            
        </div>
        
        <div class="service"><p>Используем  только premium средства
            и выполняем всю работу вручную. Относимся к каждой вещи, как к своей </p>
        </div>
        
        <div class="service">
            <p>Убираем пятна, разводы, бережно сушим
                и идеально гладим</p>
        </div>
        
        <div class="service " style="background-image: url('images/service2.avif');">
            <div class="service__overlay">
                <h3 class="service__title">прачечная</h3>
            <button class="servise__button wash__service">28 услуг</button>
            </div>
            
        </div>
        
        <div class="service" id="shoes" style="background-image: url('images/service3.avif');">
            <div class="service__overlay">
                <h3 class="service__title">обувь, ручная
                    чистка</h3>
                <button class="servise__button shoes__service" >39 услуг</button>
            </div>
            
        </div>
        
        <div class="service " style="background-image: url('images/service4.avif');">
            <div class="service__overlay">
                <h3 class="service__title">верхняя одежда</h3>
            <button class="servise__button outwear__service">36 услуг</button>
            </div>
            
        </div>
        
        <div class="service" id="clothes" style="background-image: url('images/service5.avif');">
            <div class="service__overlay">
                <h3 class="service__title">химчистка одежды</h3>
                <button class="servise__button clothes__service">10 услуг</button>
                <div class="service__garanty">
                    <p>ГАРАНТИЯ <br> СРОКОВ</p>
                </div>
            </div>            
        </div>
        
        <div class="service" id="for-children" style="background-image: url('images/service6.avif');">
            <div class="service__overlay">
                <h3 class="service__title">для самых
                    маленьких</h3>
                <button class="servise__button children__service" >6 услуг</button>
            </div>
            
        </div>
        
        <div class="service" id="for-home" style="background-image: url('images/service7.avif');">
            <div class="service__overlay">
                <h3 class="service__title">для дома</h3>
            <button class="servise__button home__service">14 услуг</button>
            </div>
           
        </div>
        
        <div class="service">
            <p>Выполним в заявленный
                срок или вернем деньги</p>
        </div>
        
    </div>
</section>